PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

MONGO_URI=mongodb://mongo:27017/workload

# Keycloak
KEYCLOAK_ISSUER=http://keycloak:8180/realms/workload
KEYCLOAK_REALM=workload
KEYCLOAK_CLIENT_ID=workload-app
